*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px

  @media only screen and (max-width: $bpHuge) { // 1800px
    font-size: 75%; // 1rem = 12px
  }

  @media only screen and (max-width: $bpDflt) { // 1366px
    font-size: 62.5%; // 1rem = 12px
  }

  @media only screen and (max-width: $bpLargest) { // 1200px
    font-size: 56.25%; // 1rem = 9px
  }

  @media only screen and (max-width: $bpMedium) { // 900px
    font-size: 50%; // 1rem = 8px
  }
}

body {
  overflow-x: hidden;
}

*::selection {
  background: $themeColor;
  color: $primaryText;
}

a {
  text-decoration: none;
  color: inherit;

  &:link, &:visited {
    color: inherit;
  }
}

ul {
  list-style: none;
}

input {
  border: none;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  &:focus {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
  }

  &::placeholder {
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
  }
}

button {
  border: none;
  outline: none !important;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

.img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
}

.primaryHeading {
  font-family: inherit;
  font-weight: 800;
  font-size: 5rem;
  text-align: center;
  padding: 0 0 7rem 0;

  @media only screen and (max-width: $bpMedium) {
    padding: 0 0 5rem 0;
  }

  @media only screen and (max-width: $bp690) {
    padding: 0 0 3rem 0;
  }
}

.br-none {
  border-radius: 0 !important;
}

.fullWidth {
  width: 100% !important;
}

.d-none {
  display: none !important;
}

.d-flex-align-center {
  display: flex;
  align-items: center;
} 

.d-flex-justify-end-align-center {
  display: flex;
  justify-content: flex-end;
  align-items: center;
} 

.flex-column {
  display: flex;
  flex-direction: column;

  &-center {
    align-items: center;
  }
}

.flex-row {
  display: flex;
}