#hero {
  grid-column: 1 / -1;
  background-color: $heroColor;
  height: 30rem;
  border-radius: 2rem;
  padding: 4rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5rem;

  @media only screen and (max-width: $smBreak) {
    margin-bottom: 1rem;
  }

  @media only screen and (max-width: $bpSmallerMedium) {
    height: 25rem;
    padding: 3rem;
  }

  @media only screen and (max-width: $bpSmall) {
    height: 23rem;
    align-items: center;
  }

  @media only screen and (max-width: $smBreak) {
    height: 20rem;
  }

  @media only screen and (max-width: $bp375) {
    height: 17rem;
    padding: 2rem;
  }

  @media only screen and (max-width: 360px) {
    height: 16rem;
    padding: 1.6rem;
  }

  @media only screen and (max-width: 355px) {
    padding: 1.3rem;
  }

  .hero__textbox {
    flex: 0 0 50%;

    @media only screen and (max-width: $bpSmall) {
      margin-top: -0.5rem;
    }

    h1 {
      font-size: 5rem;
      font-weight: 800;
      color: $themeColor;

      @media only screen and (max-width: $bpMedium) {
        font-size: 4rem;
      }

      @media only screen and (max-width: $bpSmallerMedium) {
        font-size: 3.5rem;
      }

      @media only screen and (max-width: $bpSmall) {
        font-size: 3rem;
      }

      @media only screen and (max-width: $smBreak) {
        font-size: 2.5rem;
      }

      @media only screen and (max-width: $bp430) {
        font-size: 2rem;
      }
    }

    p {
      font-size: 2rem;
      font-weight: 400;
      margin-bottom: 3rem;
      color: $secondaryText;

      @media only screen and (max-width: $bpSmallerMedium) {
        font-size: 1.6rem;
      }

      @media only screen and (max-width: $bpSmall) {
        margin-bottom: 2rem;
      }

      &.extra, span {
        @media only screen and (max-width: $smBreak) {
          display: none;
        }
      }

      @media only screen and (max-width: $bp430) {
        font-size: 1.5rem;
      }

      @media only screen and (max-width: $bp430) {
        max-width: 95%;
        font-size: 1.4rem;
      }
    }

    a {
      padding: 1rem 2.5rem;
      font-size: 2rem;
      font-weight: 600;
      text-transform: uppercase;
      border-radius: 5rem;
      background-color: $heroButton;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
      
      @media only screen and (max-width: $bpSmallerMedium) {
        font-size: 1.6rem;
      }

      @media only screen and (max-width: $bp430) {
        font-size: 1.5rem;
      }

      @media only screen and (max-width: 355px) {
        font-size: 1.4rem;
        text-transform: none;
        padding: 1rem 2rem;
      }
    }
  }

  .hero__image {
    position: relative;
    width: 150%;
    height: 150%;
    align-self: center;
    margin-left: 3rem;

    @media only screen and (max-width: $bpMedium) {
      height: 115%;
    }

    @media only screen and (max-width: $bpSmallerMedium) {
      height: 118%;
    }

    @media only screen and (max-width: $bp690) {
      height: 107%;
    }

    @media only screen and (max-width: $bpSmall) {
      height: 105%;
    }

    @media only screen and (max-width: $smBreak) {
      margin-left: 0;
      height: 115%;
    }

    @media only screen and (max-width: $bp430) {
      margin-top: -0.5rem;
      height: 100%;
    }

    @media only screen and (max-width: 355px) {
      margin-top: 1rem;
    }
  }
}