/*========= BODY ==========*/
body {
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  background-color: $bodyColor;
  color: $primaryText;

  .wrapper {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 2rem;
    max-width: 114rem;
    margin: 0 auto !important;

    @media only screen and (max-width: 1140px) {
      max-width: 114rem;
    }

    @media only screen and (max-width: $bp1300) {
      max-width: 112rem !important;
    }

    @media only screen and (max-width: $bp1100) {
      max-width: 110rem !important;
    }

    @media only screen and (max-width: $bp1070) {
      max-width: 105rem !important;
    }

    @media only screen and (max-width: $bp1020) {
      max-width: 100rem !important;
    }

    @media only screen and (max-width: $lgBreak) {
      max-width: 96rem !important;
    }

    @media only screen and (max-width: $bp950) {
      max-width: 93rem !important;
    }

    @media only screen and (max-width: $bp830) {
      max-width: 90rem !important;
    }

    @media only screen and (max-width: $bpSmallMedium) {
      max-width: 85rem !important;
    }

    @media only screen and (max-width: $mdBreak) {
      max-width: 84rem !important;
    }

    @media only screen and (max-width: $bpSmallerMedium) {
      max-width: 80rem !important;
    }

    @media only screen and (max-width: $bp690) {
      max-width: 75rem !important;
    }

    @media only screen and (max-width: $bp650) {
      max-width: 70rem !important;
    }

    @media only screen and (max-width: $bpSmall) {
      max-width: 65rem !important;
    }

    @media only screen and (max-width: $smBreak) {
      max-width: 54rem !important;
    }

    @media only screen and (max-width: $smBreak - 1) {
      max-width: 100% !important;
      width: 100% !important;
    }
  }

  .full-wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 2rem;
    width: 100%;
    // margin: 0 auto !important;
  }
}

/*========= HEADER ==========*/
#header {
  height: 15rem;
  grid-column: 1 / -1;
  margin-bottom: 1.5rem;

  @media only screen and (max-width: $bp1070) {
    margin-bottom: 0 !important;
    height: 9rem;
  }

  @media only screen and (max-width: $smBreak) {
    height: auto;
  }
}

#footer {
  grid-column: 1 / -1;
  padding: 7rem;
  background-color: $footerTheme;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 2rem;
  align-items: flex-start;
  margin-bottom: 0;

  .mailbox button {
    @media only screen and (max-width: $mdBreak) {
      padding: 2rem 3rem;
    }
  }
}

.navBox {
  position: fixed;
  top: 0;
  left: 0;
  background-color: $bodyColor;
  z-index: 1;

  .wrapper {
    padding: 0 2rem;
  }

  &.bx {
    box-shadow: $bDflt;
    transition: $navTransition;

    #header {
      margin-bottom: 0 !important;
    }


    .header__logo {
      font-size: 3rem;
    }

    .header__mainnav {
      padding-bottom: 1.6rem !important;
    }

    .header__nav ul li > a {
      font-size: 1.9rem !important;
    }

    .nav-item-icon {
      width: 2.7rem;
      height: 2.7rem;
    }
  }
}

#heroWrapper {
  padding-top: 20rem !important;

  @media only screen and (max-width: $bp1070) {
    padding-top: 12rem !important;
  }

  @media only screen and (max-width: $smBreak) {
    padding-top: 8rem !important;
  }
}

.header {
  &__mainnav {
    display: flex;
    justify-content: space-between;
    // align-items: center;
    width: 100%;
    padding: 2rem 0;
    transition: $navTransition;

    @media only screen and (max-width: $smBreak) {
      padding: 1rem 0;
    }
  }

  &__logo {
    font-size: 3.5rem;
    font-weight: 700;
    color: $primaryText;
    transition: $navTransition;

    &:link, &:visited {
      color: $primaryText;
    }
  }

  &__form {
    display:  flex;
    align-items: center;
    justify-content: center;
    width: 50%;

    @media only screen and (max-width: $smBreak) {
      display: none;
    }
  }

  &__search {
    align-self: center;
    height: 3.5rem;
    width: 90%;
    padding: 1rem 2rem;
    border-radius: 5rem;
    background-color: $adminBookTheme;
    color: $primaryText;
    font-size: $primaryFont;
    transition: $normalTransition;
    margin-right: -3.5rem;
    padding-right: 3.5rem;

    &::placeholder {
      color: $greyText;
      font-size: 1.6rem;
      font-weight: 400;
    }

    &:focus {
      width: 95%;
    }
  }

  &__search-button {
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    background-color: transparent;
  }

  &__search-icon {
    width: 100%;
    height: 2rem;
    stroke: #fff;
    // stroke-width: 2;
    // stroke-linecap: round;
    // stroke-linejoin: round;
    fill: none;
  }

  &__nav-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0 0 20%;
    align-self: center;

    @media only screen and (max-width: $bp1070) {
      flex: 0 0 25%;
    }

    @media only screen and (max-width: $bpSmallMedium) {
      flex: 0 0 30%;
    }

    @media only screen and (max-width: $smBreak) {
      justify-content: flex-end;
    }

    color: $primaryText;

    &:link, &:visited {
      color: $primaryText;;
    }

    .nav-item {
      // height: 3rem;
      // width: 3rem;
      &-icon {
        width: 3rem;
        height: 3rem;
        fill: none;
        stroke: #fff;
      }

      .nav-link {
        font-size: 3rem;
      }

      &.drop {
        position: relative;
      }

      &.menu {
        @media only screen and (max-width: $bp1070) {
          display: block !important;
        }
      }

      &.mainNavList {
        @media only screen and (max-width: $smBreak) {
          display: none;
        }
      }
    }

    .nav-user {
      position: relative;
      width: 3rem;
      height: 3rem;
      background-color: $heroColor;
      border-radius: 50%;

      &:hover {
        cursor: pointer;
      }

      .avatar {
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }

      .online {
        position: absolute;
        width: 0.7rem;
        height: 0.7rem;
        top: -0.3rem;
        left: 2rem;
        background-color: $onlineColor;
        border-radius: 50%;
        opacity: 0;
      }

      @media only screen and (max-width: $smBreak) {
        display: none;
      }
    }

    .nav-item, .nav-user {
      .dropdown {
        position: absolute;
        top: 3rem;
        left: 1rem;
        padding: 1.6rem;
        background-color: $darkenedBodyColor;
        box-shadow: $bMd;
        transition: $normalTransition;
        z-index: 1;
        opacity: 0;
        transform: translateY(2rem);

        li:hover {
          cursor: pointer;
        }

        li:not(:last-of-type) {
          margin-right: 2rem;
        }

        &.flex {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        &-icon {
          width: 3rem;
          height: 3rem;
          fill: none;
          stroke: #fff;
          stroke-width: 1.6;
        }
      }
    }

    .nav-item:hover, .nav-user:hover {
      .dropdown {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  &__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    //padding-bottom: 2rem;
    width: 100%;

    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex: 0 0 60%;

      li > a {
        font-size: 2rem;
        font-weight: 600;
        transition: $navTransition;

        &::after {
          content: '';
          display: block;
          background-color: transparent;
          height: 0.5rem;
          width: 0.5rem;
          margin: 0.1rem auto;
          border-radius: 50%;
        }

        &.active::after {
          background-color: $themeColor;
        }
      }

      li > a.active {
        color: $themeColor;
      }
    }

    @media only screen and (max-width: $bp1070) {
      display: none;
    }
  }
}

.footer {
  &__img {
    grid-column: 1 / 7;
    position: relative;

    @media only screen and (max-width: $bpMedium) {
      align-self: center;
    }

    @media only screen and (max-width: $bp690) {
      display: none;
    }

    &--box {
      position: relative;
      height: 40rem;

      @media only screen and (max-width: $bpMedium) {
        height: 35rem;
      }

      @media only screen and (max-width: $mdBreak) {
        height: 28rem;
      }

      @media only screen and (max-width: $bpSmallerMedium) {
        height: 25rem;
      }

      img {
        height: 100%;
      }
    }
  }

  &__contact {
    grid-column: 8 / -1;

    @media only screen and (max-width: $smBreak) {
      display: none;
    }

    .primaryHeading {
      padding: 1rem 0 4rem 0;
      font-size: 4.5rem;
      text-transform: uppercase;

      @media only screen and (max-width: $bpSmallerMedium) {
        font-size: 4rem;
        padding: 1rem 0 2rem 0;
      }
    }

    .mailbox {
      margin-bottom: 2.5rem;

      input, button {
        border-radius: 0 !important;
      }

      input {
        @media only screen and (max-width: $bpSmallerMedium) {
          padding: 1.6rem 2rem;
        }
      }
    }

    &--address {
      font-weight: 600;
      font-size: 2rem;
      margin-bottom: 1.5rem;

      @media only screen and (max-width: $bpSmallerMedium) {
        font-size: 1.6rem;
      }
    }

    &--email {
      font-weight: 600;
      font-size: 2rem;

      @media only screen and (max-width: $bpSmallerMedium) {
        font-size: 1.6rem;
      }
    }
  }

  &__links {
    margin: $sectionBreak 0 3rem 0;
    grid-column: 4 / span 6;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: $bpSmallerMedium) {
      margin: 5rem 0 2.5rem 0;
    }

    &--svg {
      width: 3.5rem;
      height: 3.5rem;
      fill: none;
      stroke: #fff;
    }
  }

  &__copy {
    grid-column: 1 / -1;
    text-align: center;
    font-weight: 300;
    font-size: 1.6rem;
  }
}

.breadcrumb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;

  @media only screen and (max-width: $bp450) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  @media only screen and (max-width: $bpSmallest) {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .cart__confirm {
    @media only screen and (max-width: $bp450) {
      margin-top: 1rem;
    }
  }
}

#hero, #popular, #featured, #allbooks, .bookcontent, .allcart {
  @media only screen and (max-width: $smBreak - 1) {
    margin: 0 2rem !important;
  }
}

#header {
  @media only screen and (max-width: $smBreak - 1) {
    margin-left: 0.5rem !important;
    margin-right: 0.5rem !important;
  }
  
  @media only screen and (max-width: $bp470) {
    margin: 0 !important;
  }
}